body {
    background-color: floralwhite;
}
h1{color: slateblue;}
.recipes_tab{background-color: paleturquoise;}
h2.sugar {color: purple;}
h2.notouch{color: red}
img.touchmydessert{width: 350px;}
img.candy{width: 600px}